.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}
.sticky-header {
  position: sticky;
  top: 0;

  z-index: 1000;
}


body {
  margin: 0;
  padding: 0;
  background-image: url('./img4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
